*{
  margin: 0;
  color: white;
}

body{
  background-color: black;
}

.footer{
  text-align: center;
}

.icons{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.icons a{
  margin-left: 2.5rem;
  cursor: pointer;
}